    /*
    Flaticon icon font: Flaticon
    Creation date: 29/03/2019 14:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-search:before { content: "\f100"; }
.flaticon-arrow-point-to-right:before { content: "\f101"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f102"; }
.flaticon-arrowhead-thin-outline-to-the-left:before { content: "\f103"; }
.flaticon-cancel-music:before { content: "\f104"; }
.flaticon-pause-sign:before { content: "\f105"; }
.flaticon-telephone-handle-silhouette:before { content: "\f106"; }
.flaticon-keyboard:before { content: "\f107"; }
.flaticon-black-envelope:before { content: "\f108"; }
.flaticon-hexagon:before { content: "\f109"; }
.flaticon-clock:before { content: "\f10a"; }
.flaticon-menu:before { content: "\f10b"; }
.flaticon-menu-1:before { content: "\f10c"; }
.flaticon-black-shop-tag:before { content: "\f10d"; }
.flaticon-globe:before { content: "\f10e"; }
.flaticon-idea:before { content: "\f10f"; }
.flaticon-analytics:before { content: "\f110"; }
.flaticon-rating:before { content: "\f111"; }
.flaticon-digital-marketing:before { content: "\f112"; }
.flaticon-search-1:before { content: "\f113"; }
.flaticon-social-media:before { content: "\f114"; }
.flaticon-analytics-1:before { content: "\f115"; }
.flaticon-digital-marketing-1:before { content: "\f116"; }
.flaticon-stadistics:before { content: "\f117"; }
.flaticon-analytics-2:before { content: "\f118"; }
.flaticon-digital-marketing-2:before { content: "\f119"; }
.flaticon-communication:before { content: "\f11a"; }
.flaticon-typewriter:before { content: "\f11b"; }
.flaticon-email:before { content: "\f11c"; }
.flaticon-target:before { content: "\f11d"; }
.flaticon-keyword:before { content: "\f11e"; }
.flaticon-crown:before { content: "\f11f"; }
.flaticon-target-1:before { content: "\f120"; }
.flaticon-line-chart:before { content: "\f121"; }
.flaticon-phonebook:before { content: "\f122"; }
.flaticon-pie-chart:before { content: "\f123"; }
.flaticon-head:before { content: "\f124"; }
.flaticon-medal:before { content: "\f125"; }
.flaticon-supermarket:before { content: "\f126"; }
.flaticon-growth:before { content: "\f127"; }
.flaticon-cube:before { content: "\f128"; }
.flaticon-speed:before { content: "\f129"; }
.flaticon-028-arrow-metamax:before { content: "\f12a"; }
.flaticon-affiliate:before { content: "\f12b"; }
.flaticon-laptop:before { content: "\f12c"; }
.flaticon-video-player:before { content: "\f12d"; }
.flaticon-email-1:before { content: "\f12e"; }
.flaticon-idea-1:before { content: "\f12f"; }
.flaticon-presentation:before { content: "\f130"; }
.flaticon-speed-test:before { content: "\f131"; }
.flaticon-startup:before { content: "\f132"; }
.flaticon-settings:before { content: "\f133"; }
.flaticon-billboard:before { content: "\f134"; }
.flaticon-comments:before { content: "\f135"; }
.flaticon-tag:before { content: "\f136"; }
.flaticon-newspaper:before { content: "\f137"; }
.flaticon-light-bulb:before { content: "\f138"; }
.flaticon-eye:before { content: "\f139"; }
.flaticon-zoom-in:before { content: "\f13a"; }
.flaticon-web-page:before { content: "\f13b"; }
.flaticon-seo-and-web:before { content: "\f13c"; }
.flaticon-idea-2:before { content: "\f13d"; }
.flaticon-website-1:before { content: "\f13e"; }
.flaticon-optimization:before { content: "\f13f"; }
.flaticon-location:before { content: "\f140"; }
.flaticon-user-experience:before { content: "\f141"; }
.flaticon-social-media-1:before { content: "\f142"; }
.flaticon-thumb-up:before { content: "\f143"; }
.flaticon-clipboard-1:before { content: "\f144"; }
.flaticon-shield:before { content: "\f145"; }
.flaticon-calendar:before { content: "\f146"; }
.flaticon-quality:before { content: "\f147"; }
.flaticon-portfolio:before { content: "\f148"; }
.flaticon-team:before { content: "\f149"; }
.flaticon-diamond:before { content: "\f14a"; }
.flaticon-target-3:before { content: "\f14b"; }
.flaticon-presentation-2:before { content: "\f14c"; }
.flaticon-humanpictos:before { content: "\f14d"; }
.flaticon-worldwide:before { content: "\f14e"; }
.flaticon-panel:before { content: "\f14f"; }
.flaticon-networking:before { content: "\f150"; }
.flaticon-line-chart-1:before { content: "\f151"; }
.flaticon-laptop-1:before { content: "\f152"; }
.flaticon-headset:before { content: "\f153"; }
.flaticon-contract:before { content: "\f154"; }
.flaticon-laptop-2:before { content: "\f155"; }
.flaticon-goal:before { content: "\f156"; }
.flaticon-add:before { content: "\f157"; }
.flaticon-remove:before { content: "\f158"; }
.flaticon-send-button:before { content: "\f159"; }
.flaticon-send:before { content: "\f15a"; }
.flaticon-fax:before { content: "\f15b"; }
.flaticon-shopping-bag:before { content: "\f15c"; }
.flaticon-pie-chart-1:before { content: "\f15d"; }
.flaticon-target-4:before { content: "\f15e"; }
.flaticon-check-mark:before { content: "\f15f"; }
.flaticon-play:before { content: "\f160"; }
.flaticon-heart:before { content: "\f161"; }
.flaticon-sharing-interface:before { content: "\f162"; }
.flaticon-star-in-black-of-five-points-shape:before { content: "\f163"; }
.flaticon-navigate-arrows-pointing-to-down:before { content: "\f164"; }
.flaticon-quotes:before { content: "\f165"; }
.flaticon-volume-level:before { content: "\f166"; }
.flaticon-delete:before { content: "\f167"; }
.flaticon-cancel:before { content: "\f168"; }
.flaticon-wordpress-logo:before { content: "\f169"; }
.flaticon-rocket:before { content: "\f16a"; }
.flaticon-shop-1:before { content: "\f16b"; }
.flaticon-medal-2:before { content: "\f16c"; }
.flaticon-handshake:before { content: "\f16d"; }
.flaticon-target-5:before { content: "\f16e"; }
.flaticon-settings-1:before { content: "\f16f"; }
.flaticon-megaphone-1:before { content: "\f170"; }
.flaticon-line-chart-2:before { content: "\f171"; }
.flaticon-open-book:before { content: "\f172"; }
.flaticon-clipboard-2:before { content: "\f173"; }
.flaticon-responsive-1:before { content: "\f174"; }
.flaticon-paper-plane:before { content: "\f175"; }
.flaticon-worldwide-1:before { content: "\f176"; }
.flaticon-lifesaver:before { content: "\f177"; }
.flaticon-wall-clock-1:before { content: "\f178"; }
.flaticon-presentation-3:before { content: "\f179"; }
.flaticon-human-resources:before { content: "\f17a"; }
.flaticon-support:before { content: "\f17b"; }
.flaticon-arrow-pointing-to-right:before { content: "\f17c"; }
.flaticon-click:before { content: "\f17d"; }
.flaticon-arrow-pointing-to-left:before { content: "\f17e"; }
.flaticon-cart:before { content: "\f17f"; }
.flaticon-arrow-pointing-to-down:before { content: "\f180"; }
.flaticon-arrow-pointing-to-up:before { content: "\f181"; }
.flaticon-right-arrow:before { content: "\f182"; }
.flaticon-left-arrow:before { content: "\f183"; }
.flaticon-hexagonal:before { content: "\f184"; }
.flaticon-left-quote:before { content: "\f185"; }
    
    $font-Flaticon-search: "\f100";
    $font-Flaticon-arrow-point-to-right: "\f101";
    $font-Flaticon-arrow-down-sign-to-navigate: "\f102";
    $font-Flaticon-arrowhead-thin-outline-to-the-left: "\f103";
    $font-Flaticon-cancel-music: "\f104";
    $font-Flaticon-pause-sign: "\f105";
    $font-Flaticon-telephone-handle-silhouette: "\f106";
    $font-Flaticon-keyboard: "\f107";
    $font-Flaticon-black-envelope: "\f108";
    $font-Flaticon-hexagon: "\f109";
    $font-Flaticon-clock: "\f10a";
    $font-Flaticon-menu: "\f10b";
    $font-Flaticon-menu-1: "\f10c";
    $font-Flaticon-black-shop-tag: "\f10d";
    $font-Flaticon-globe: "\f10e";
    $font-Flaticon-idea: "\f10f";
    $font-Flaticon-analytics: "\f110";
    $font-Flaticon-rating: "\f111";
    $font-Flaticon-digital-marketing: "\f112";
    $font-Flaticon-search-1: "\f113";
    $font-Flaticon-social-media: "\f114";
    $font-Flaticon-analytics-1: "\f115";
    $font-Flaticon-digital-marketing-1: "\f116";
    $font-Flaticon-stadistics: "\f117";
    $font-Flaticon-analytics-2: "\f118";
    $font-Flaticon-digital-marketing-2: "\f119";
    $font-Flaticon-communication: "\f11a";
    $font-Flaticon-typewriter: "\f11b";
    $font-Flaticon-email: "\f11c";
    $font-Flaticon-target: "\f11d";
    $font-Flaticon-keyword: "\f11e";
    $font-Flaticon-crown: "\f11f";
    $font-Flaticon-target-1: "\f120";
    $font-Flaticon-line-chart: "\f121";
    $font-Flaticon-phonebook: "\f122";
    $font-Flaticon-pie-chart: "\f123";
    $font-Flaticon-head: "\f124";
    $font-Flaticon-medal: "\f125";
    $font-Flaticon-supermarket: "\f126";
    $font-Flaticon-growth: "\f127";
    $font-Flaticon-cube: "\f128";
    $font-Flaticon-speed: "\f129";
    $font-Flaticon-028-arrow-metamax: "\f12a";
    $font-Flaticon-affiliate: "\f12b";
    $font-Flaticon-laptop: "\f12c";
    $font-Flaticon-video-player: "\f12d";
    $font-Flaticon-email-1: "\f12e";
    $font-Flaticon-idea-1: "\f12f";
    $font-Flaticon-presentation: "\f130";
    $font-Flaticon-speed-test: "\f131";
    $font-Flaticon-startup: "\f132";
    $font-Flaticon-settings: "\f133";
    $font-Flaticon-billboard: "\f134";
    $font-Flaticon-comments: "\f135";
    $font-Flaticon-tag: "\f136";
    $font-Flaticon-newspaper: "\f137";
    $font-Flaticon-light-bulb: "\f138";
    $font-Flaticon-eye: "\f139";
    $font-Flaticon-zoom-in: "\f13a";
    $font-Flaticon-web-page: "\f13b";
    $font-Flaticon-seo-and-web: "\f13c";
    $font-Flaticon-idea-2: "\f13d";
    $font-Flaticon-website-1: "\f13e";
    $font-Flaticon-optimization: "\f13f";
    $font-Flaticon-location: "\f140";
    $font-Flaticon-user-experience: "\f141";
    $font-Flaticon-social-media-1: "\f142";
    $font-Flaticon-thumb-up: "\f143";
    $font-Flaticon-clipboard-1: "\f144";
    $font-Flaticon-shield: "\f145";
    $font-Flaticon-calendar: "\f146";
    $font-Flaticon-quality: "\f147";
    $font-Flaticon-portfolio: "\f148";
    $font-Flaticon-team: "\f149";
    $font-Flaticon-diamond: "\f14a";
    $font-Flaticon-target-3: "\f14b";
    $font-Flaticon-presentation-2: "\f14c";
    $font-Flaticon-humanpictos: "\f14d";
    $font-Flaticon-worldwide: "\f14e";
    $font-Flaticon-panel: "\f14f";
    $font-Flaticon-networking: "\f150";
    $font-Flaticon-line-chart-1: "\f151";
    $font-Flaticon-laptop-1: "\f152";
    $font-Flaticon-headset: "\f153";
    $font-Flaticon-contract: "\f154";
    $font-Flaticon-laptop-2: "\f155";
    $font-Flaticon-goal: "\f156";
    $font-Flaticon-add: "\f157";
    $font-Flaticon-remove: "\f158";
    $font-Flaticon-send-button: "\f159";
    $font-Flaticon-send: "\f15a";
    $font-Flaticon-fax: "\f15b";
    $font-Flaticon-shopping-bag: "\f15c";
    $font-Flaticon-pie-chart-1: "\f15d";
    $font-Flaticon-target-4: "\f15e";
    $font-Flaticon-check-mark: "\f15f";
    $font-Flaticon-play: "\f160";
    $font-Flaticon-heart: "\f161";
    $font-Flaticon-sharing-interface: "\f162";
    $font-Flaticon-star-in-black-of-five-points-shape: "\f163";
    $font-Flaticon-navigate-arrows-pointing-to-down: "\f164";
    $font-Flaticon-quotes: "\f165";
    $font-Flaticon-volume-level: "\f166";
    $font-Flaticon-delete: "\f167";
    $font-Flaticon-cancel: "\f168";
    $font-Flaticon-wordpress-logo: "\f169";
    $font-Flaticon-rocket: "\f16a";
    $font-Flaticon-shop-1: "\f16b";
    $font-Flaticon-medal-2: "\f16c";
    $font-Flaticon-handshake: "\f16d";
    $font-Flaticon-target-5: "\f16e";
    $font-Flaticon-settings-1: "\f16f";
    $font-Flaticon-megaphone-1: "\f170";
    $font-Flaticon-line-chart-2: "\f171";
    $font-Flaticon-open-book: "\f172";
    $font-Flaticon-clipboard-2: "\f173";
    $font-Flaticon-responsive-1: "\f174";
    $font-Flaticon-paper-plane: "\f175";
    $font-Flaticon-worldwide-1: "\f176";
    $font-Flaticon-lifesaver: "\f177";
    $font-Flaticon-wall-clock-1: "\f178";
    $font-Flaticon-presentation-3: "\f179";
    $font-Flaticon-human-resources: "\f17a";
    $font-Flaticon-support: "\f17b";
    $font-Flaticon-arrow-pointing-to-right: "\f17c";
    $font-Flaticon-click: "\f17d";
    $font-Flaticon-arrow-pointing-to-left: "\f17e";
    $font-Flaticon-cart: "\f17f";
    $font-Flaticon-arrow-pointing-to-down: "\f180";
    $font-Flaticon-arrow-pointing-to-up: "\f181";
    $font-Flaticon-right-arrow: "\f182";
    $font-Flaticon-left-arrow: "\f183";
    $font-Flaticon-hexagonal: "\f184";
    $font-Flaticon-left-quote: "\f185";